repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: detect-private-key
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.3.1
  hooks:
    # Run the linter.
    - id: ruff
      types_or: [ python, pyi, jupyter ]
      args: [ --fix, --show-fixes ]
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi, jupyter ]
